.chart_bar {
  width: 7%;
}

.cahrt_bar_inner {
    position: relative;
  width: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(183, 159, 202);
  margin: 0% auto;
}

.chart_bar_fill {
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: flex-end;
  border-radius: 5px;
  width: 10px;
  background-color: rgb(62, 31, 119);
  
}

.chart_bar_lable{
    text-align: center;
}
