.expense_item{
    display: flex;
    width: 100%;
    background-color: rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    font-weight: 700;
    font-size: larger;
    margin: 20px 0px;
}

.expense_item_info{
    position: relative;
    display: flex;
    width: 90%;
    color: white;
    margin: auto 0;
}

.expence_item_amount{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: purple;
    width: auto;
    height: 50px;
    padding: 2px 2%;
    border: 2px solid white;
    font-size: 2rem;
}

li{
    list-style: none;
}